<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>friend requests</title>
</head>
<body>

{% for d in data %}

<div>{{ d.from_user }}</div>
<div>{{ d.datetime }}</div>
<div>{{ d.id }}</div>

<form class="friend-action-form" data-from-user="{{ d.from_user }}" data-datetime="{{ d.datetime }}" data-id="{{ d.id }}">
    {% csrf_token %}
    <button type="button" class="friend-action-btn" data-action="accept">Принять</button>
    <button type="button" class="friend-action-btn" data-action="reject">Отклонить</button>
</form>

{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $(".friend-action-form").on("click", ".friend-action-btn", function(event) {
            event.preventDefault();

            var fromUser = $(this).closest(".friend-action-form").data("from-user");
            var datetime = $(this).closest(".friend-action-form").data("datetime");
            var id_request = $(this).closest(".friend-action-form").data("id");
            var actionType = $(this).data("action");

            $.ajax({
                url: "/accept/",  // Замените на ваш реальный URL-адрес API
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                    from_user: fromUser,
                    datetime: datetime,
                    id_request: id_request,
                    action_type: actionType
                },
                success: function(response) {
                    // Обработка успешного ответа от сервера
                    console.log(response);
                },
                error: function(error) {
                    // Обработка ошибки
                    console.error(error);
                }
            });
        });
    });
</script>

</body>
</html>
