<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

<header>
    <div>Im - {{ user }}</div>
    <div class="buttons">
        <button onclick="location.href='{% url 'users-list' %}'">ВСЕ ЛЮДИ</button>
        <button onclick="location.href='{% url 'all-my-fr' %}'">ДРУЗЬЯ</button>
        <button onclick="location.href='{% url 'requests-fr' %}'">ЗАПРОСЫ В ДРУЗЬЯ</button>
        <button onclick="location.href='{% url 'my-chats' %}'">ЧАТЫ</button>
        <button onclick="location.href='{% url 'my-group-chats' %}'">ГРУППОВЫЕ ЧАТЫ</button>
        <button onclick="location.href='{% url 'requests-to-group-room' %}'">ПРИГЛАШЕНИЯ В ЧАТ</button>
        <button onclick="location.href='{% url 'login' %}'">АВТОРИЗАЦИЯ</button>
        <button onclick="location.href='{% url 'register' %}'">РЕГИСТРАЦИЯ</button>
    </div>
</header>

{% if user.avatar %}
<img src="{{ user.avatar.url }}">
{% else %}
<input type="file" value="ввести">
{% endif %}


<form action="{% url 'avatar' %}" method="post">
    {% csrf_token %}
    <label>Фамилия: </label>
    <input value="{{user.middle_name}}" name="Surname" type="text" placeholder="Фамилия">
    <br>
    <label>Имя: </label>
    <input value="{{user.first_name}}" name="Name" type="text" placeholder="Имя">
    <br>
    <label>Отчество: </label>
    <input value="{{user.last_name}}" name="Second-surname" type="text" placeholder="Отчество">
    <br>
    <label>Описание профиля: </label>
    <input value="{{user.description}}" name="description" type="text" placeholder="Добавьте описание">
    <br>
    <input type="submit" value="Изменить">
</form>

<form target="_blank" method="get" action="{% url 'email-code' %}">
    {% csrf_token %}
    <input type="submit" value="Привязать почту">
</form>


<!--<form action="{% url 'avatar' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    -->
<!--</form>-->


</body>
</html>